

span{
    color: white;
    background: red;
    padding: 5px;
 
}

.display{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
h1{
text-align: center;
}

